<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pantuo.mybatis.persistence.BusSelectMapper">


	<resultMap id="GroupVO" type="com.pantuo.vo.GroupVo">
		<id column="count" jdbcType="INTEGER" property="count" />
		<result column="gn1" jdbcType="BIGINT" property="gn1" />
		<result column="gn2" jdbcType="BIGINT" property="gn2" />
		<result column="gp1" jdbcType="VARCHAR" property="gp1" />
		<result column="gp2" jdbcType="VARCHAR" property="gp2" />
	</resultMap>
	<!-- 查线路车辆类型  返回车辆对象-->
	<select id="getBusModel"
		resultMap="com.pantuo.mybatis.persistence.BusModelMapper.BaseResultMap">
		select distinct bus_model.* from bus_model join
		(select bus.model_id from bus join bus_line
		on bus.line_id = bus_line.id where bus_line.id=#{lineId} and category =
		#{category}) t
		on bus_model.id = t.model_id
	</select>


	<select id="getBusContract"
		resultMap="com.pantuo.mybatis.persistence.BusContractMapper.BaseResultMap">

		select bus_contract.* from bus_contract join (
		select bus.id
		from bus_line
		join bus on bus_line.id = bus.line_id
		where enabled = 1 and
		category = #{category}
		and bus_line.id =
		#{lineId}
		<if test="modelId > 0">
			and model_id = #{modelId}
		</if>
		) m on m.id=bus_contract.busid
		where bus_contract.end_date > now()

	</select>



	<select id="getBusList"
		resultMap="com.pantuo.mybatis.persistence.BusMapper.BaseResultMap">
		select
		bus.* from bus_line
		join bus on bus_line.id = bus.line_id
		where
		enabled = 1 and category =
		#{category} and bus_line.id=#{lineId}
		<if test="modelId > 0">
			and model_id = #{modelId}
		</if>
	</select>



	<select id="countCarTypeByLine" resultMap="GroupVO">
		select count as
		count,gn1 ,bus_model.name as gp2,bus_model.double_decker as gn2 from
		(select
		count(bus.model_id) as count,bus.model_id as gn1 from bus_line
		join bus on bus_line.id = bus.line_id
		where enabled = 1 and category =
		#{category} and bus_line.id=#{lineId}
		group by bus.model_id )t join
		bus_model
		on gn1=bus_model.id

	</select>


	<select id="countCarByLines" resultMap="GroupVO">
		select
		count(bus.id) as count,bus_line.id as gn1 from bus_line
		join bus
		on bus_line.id = bus.line_id
		where enabled = 1 and category =
		#{category}
		and bus_line.id in
		<foreach close=")" collection="idList" item="listItem" open="("
			separator=",">
			#{listItem}
		</foreach>
		group by bus_line.id
	</select>



	<select id="getOnlineCarList" resultType="java.lang.Integer">
		<![CDATA[
		select distinct bus.id from bus_line join bus on bus_line.id = bus.line_id
		join bus_contract on bus.id = bus_contract.busid
		where
		bus.enabled = 1 and bus.category = #{category}
		and bus_line.id = #{lineId}
		and (
		(bus_contract.start_date<= #{start}
		and bus_contract.end_date>= #{start})
		or (bus_contract.start_date<= #{end}
		and bus_contract.end_date>= #{end})
		
		or (bus_contract.start_date>= #{start}
		and bus_contract.end_date<= #{end})
		)
	]]>
	</select>

<select id="countWorkingCarList" resultType="java.lang.Integer">
	<![CDATA[
		select sum(remain_nuber) from bus_lock
		where  bus_lock.line_id = #{lineId}
		and lock_expired_time > now()
		and stats = #{stats}
		and (
		(bus_lock.start_date<= #{start}
		and bus_lock.end_date>= #{start})
		or (bus_lock.start_date<= #{end}
		and bus_lock.end_date>= #{end})
		or (bus_lock.start_date>= #{start}
		and bus_lock.end_date<= #{end})
		)
		]]>
		<if test="modelId > 0">
			and model_id = #{modelId}
		</if>
	</select>



	<select id="countOnlineCarList" resultType="java.lang.Integer">
	<![CDATA[
		select count(distinct bus.id) from bus_line join bus on bus_line.id = bus.line_id
		join bus_contract on bus.id = bus_contract.busid
		where
		bus.enabled = 1 and bus.category = #{category}
		and bus_line.id = #{lineId}
		and (
		(bus_contract.start_date<= #{start}
		and bus_contract.end_date>= #{start})
		or (bus_contract.start_date<= #{end}
		and bus_contract.end_date>= #{end})
		or (bus_contract.start_date>= #{start}
		and bus_contract.end_date<= #{end})
		)
		]]>
		<if test="modelId > 0">
			and model_id = #{modelId}
		</if>
	</select>

	<!-- 按线路统计车辆个数 -->
	<select id="countBusCar" resultType="java.lang.Integer">

		select
		count(1) from bus_line
		join bus on bus_line.id = bus.line_id
		where enabled = #{enabled} and
		category = #{category}
		and bus_line.id =
		#{lineId}
		<if test="modelId > 0">
			and model_id = #{modelId}
		</if>

	</select>

</mapper>