.center {
	margin: auto;
}

.frame {
	width: 1000px;
}

.div {
	text-align: center;
	margin: 20px;
}

.processed {
	color: limegreen;
}

.invalid {
	color: red;
}
.passpass {
	color: blue;
}
.doing {
	color: orange;
}

.tableTr {
	margin-top: 20px;
}

#table, #his_table {
	text-align: left;
	font-size: 15px;
}

#table .hl, #his_table .hl {
	background-color: #ffff00;
}

#table th, #his_table th {
	background-color: #3bafda;
	color: white;
	font-weight: normal;
	text-align: left;
	line-height: 30px
}

div#toolbar {
	float: left;
	margin: 5px;
	padding: 10px 0 10px 0;
}

div#toolbar input {
	height: 30px;
	border-radius: 2px;
	border: 1px solid #C5C5C5;
	width: 185px;
}

div#toolbar2 {
	float: left;
	margin: 5px;
	padding: 10px 0 10px 0;
}

div#toolbar2 input {
	height: 30px;
	border-radius: 2px;
	border: 1px solid #C5C5C5;
}

div#table_length {
	float: right;
	padding: 10px 0 10px;
}

div#table2_length {
	float: right;
	padding: 10px 0 10px;
}

table.dataTable td, table.dataTable th { //
	text-align: left;
}

.align-left {
	text-align: left !important;
}

.align-right {
	text-align: right !important;
}

div.DTTT_container {
	margin: 14px 0;
}

.div.dataTables_wrapper {
	margin: 0 auto;
}

th, td {
	white-space: nowrap;
}

table.conTab {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	border-bottom: solid 1px #e0e0e0;
	line-height: 20px;
}

table.conTab tr:nth-child(odd) {
  background-color: #f1f1f1;
}

table.conTab tr:nth-child(even) {
  background-color: #ffffff;
}


.h1 {
	line-height: 20px;
	padding-bottom: 15px;
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 0px;
	position: relative;
	color: #a2a2a2;
}

table.conTab th {
	font-weight: normal;
	background-color: #3bafda;
	font-weight: normal;
	text-align: left;
	line-height: 20px;
	padding: 5px 10px;
	color: white;
}

table.conTab tbody td {
	padding: 8px 10px;
	border: solid 1px #e0e0e0;
}