.center {margin: auto;}
.frame {width: 1000px;}
.div {text-align:center; margin:25px;}
.processed {color: limegreen;}
.invalid {color: red;}
.tableTr {margin-top: 20px;}
#table { text-align: center;}
#table .hl {background-color: #ffff00;}
#table th {background-color: #3bafda; color: white; font-weight: normal; text-align: center;}
div#toolbar {float: left;margin: 5px;}
div#table_length {margin: 7px 0 0 0;float: right;}
table.dataTable td, table.dataTable th {text-align: center;}
.align-left {text-align: left!important;}
.align-right {text-align: right!important;}