<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pantuo.mybatis.persistence.BusCustomMapper" >
    <resultMap id="bus" type="com.pantuo.mybatis.domain.Bus">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="created" jdbcType="TIMESTAMP" property="created" />
        <result column="updated" jdbcType="TIMESTAMP" property="updated" />
        <result column="city" jdbcType="INTEGER" property="city" />
        <result column="ad_status" jdbcType="VARCHAR" property="adStatus" />
        <result column="branch" jdbcType="VARCHAR" property="branch" />
        <result column="category" jdbcType="INTEGER" property="category" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="enabled" jdbcType="BOOLEAN" property="enabled" />
        <result column="office" jdbcType="VARCHAR" property="office" />
        <result column="old_serial_number" jdbcType="VARCHAR" property="oldSerialNumber" />
        <result column="plate_number" jdbcType="VARCHAR" property="plateNumber" />
        <result column="serial_number" jdbcType="VARCHAR" property="serialNumber" />
        <result column="company_id" jdbcType="INTEGER" property="companyId" />
        <result column="line_id" jdbcType="INTEGER" property="lineId" />
        <result column="model_id" jdbcType="INTEGER" property="modelId" />
    </resultMap>
    <resultMap id="busline" type="com.pantuo.mybatis.domain.CountableBusLine" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="created" property="created" jdbcType="TIMESTAMP" />
        <result column="updated" property="updated" jdbcType="TIMESTAMP" />
        <result column="city" property="city" jdbcType="INTEGER" />
        <result column="level" property="level" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="busCount" property="busCount" jdbcType="INTEGER" />
    </resultMap>
    <resultMap id="company" type="com.pantuo.mybatis.domain.CountableBusinessCompany" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="created" property="created" jdbcType="TIMESTAMP" />
        <result column="updated" property="updated" jdbcType="TIMESTAMP" />
        <result column="city" property="city" jdbcType="INTEGER" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="contact" property="contact" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="office" property="office" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="busCount" property="busCount" jdbcType="INTEGER" />
    </resultMap>
    <resultMap id="model" type="com.pantuo.mybatis.domain.CountableBusModel" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="created" property="created" jdbcType="TIMESTAMP" />
        <result column="updated" property="updated" jdbcType="TIMESTAMP" />
        <result column="city" property="city" jdbcType="INTEGER" />
        <result column="ad_slot" property="adSlot" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="double_decker" property="doubleDecker" jdbcType="BOOLEAN" />
        <result column="manufacturer" property="manufacturer" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="busCount" property="busCount" jdbcType="INTEGER" />
    </resultMap>

    <select id="getBuslines" parameterType="map" resultMap="busline" >
        <![CDATA[
        select l2.*, tmp.busCount
        from (
        select l.id, count(distinct b.id) as busCount
        from bus_line l
        inner join bus b on (l.id = b.line_id and l.city = b.city)
        where b.city = #{city}
        ]]>
        <if test="level != null">
            and l.level = #{level}
        </if>
        <if test="category != null">
            and b.category = #{category}
        </if>
        <if test="lineId != null">
            and b.line_id = #{lineId}
        </if>
        <if test="modelId != null">
            and b.model_id = #{modelId}
        </if>
        <if test="companyId != null">
            and b.company_id = #{companyId}
        </if>
        group by l.id
        ) tmp
        inner join bus_line l2 on (tmp.id = l2.id)
    </select>

    <select id="getBusinessCompanies" parameterType="map" resultMap="company" >
        <![CDATA[
        select c2.*, tmp.busCount
        from (
        select c.id, count(distinct b.id) as busCount
        from business_company c
        inner join bus b on (c.id = b.company_id and c.city = b.city)
        ]]>
        <if test="level != null">
            inner join bus_line l on (l.level = #{level} and l.city = b.city and l.id = b.line_id)
        </if>
        where b.city = #{city}
        <if test="category != null">
            and b.category = #{category}
        </if>
        <if test="lineId != null">
            and b.line_id = #{lineId}
        </if>
        <if test="modelId != null">
            and b.model_id = #{modelId}
        </if>
        <if test="companyId != null">
            and b.company_id = #{companyId}
        </if>
        group by c.id
        ) tmp inner join business_company c2 on (tmp.id = c2.id)
    </select>

    <select id="getBusModels" parameterType="map" resultMap="model" >
        <![CDATA[
        select m2.*, tmp.busCount
        from (
        select m.id, count(distinct b.id) as busCount
        from bus_model m
        inner join bus b on (m.id = b.model_id and m.city = b.city)
        ]]>
        <if test="level != null">
            inner join bus_line l on (l.level = #{level} and l.city = b.city and l.id = b.line_id)
        </if>
        where b.city = #{city}
        <if test="category != null">
            and b.category = #{category}
        </if>
        <if test="lineId != null">
            and b.line_id = #{lineId}
        </if>
        <if test="modelId != null">
            and b.model_id = #{modelId}
        </if>
        <if test="companyId != null">
            and b.company_id = #{companyId}
        </if>
        group by m.id
        ) tmp inner join bus_model m2 on (tmp.id = m2.id)
    </select>

    <select id="getRemainBuses" parameterType="map" resultType="java.lang.Integer" >
        <![CDATA[
      select b.id from bus b inner join bus_line l on b.city = l.city and b.line_id=l.id
          left join bus_schedule s on b.city = s.city and b.id=s.bus_id and ((s.start_day>=#{startDay} and s.start_day<=#{endDay}) or (s.end_day>=#{startDay} and s.end_day<=#{endDay}))
        where b.city=#{city} and l.level=#{level} and s.id is null
        order by RAND() limit #{limit}
        ]]>
    </select>

    <select id="getRemainBuses2" parameterType="map" resultType="java.lang.Integer" >
        <![CDATA[
      select b.id from bus b inner join bus_line l on b.city = l.city and b.line_id=l.id
          left join bus_schedule s on b.city = s.city and b.id=s.bus_id and ((s.start_day>=#{startDay} and s.start_day<=#{endDay}) or (s.end_day>=#{startDay} and s.end_day<=#{endDay}))
        where b.city=#{city} and l.level=#{level} and s.id is null
      ]]>
        <if test="category != null">
            and b.category = #{category}
        </if>
        <if test="lineId != null">
            and b.line_id = #{lineId}
        </if>
        <if test="modelId != null">
            and b.model_id = #{modelId}
        </if>
        <if test="companyId != null">
            and b.company_id = #{companyId}
        </if>
        order by RAND() limit #{limit}
    </select>

</mapper>