@charset "utf-8";
body {
  font-size: 14px;
  background: #e7eef9;
  overflow: auto;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
header .area {
  position: absolute;
  left: 220px;
  top: 13px;
}
.content {
  position: relative;
  top: 45px;
}
.pd {
  margin: 5px 30px 5px 30px;
}
.side-nav {
  width: 200px;
  height: 530px;
  position: fixed;
  top: 0;
  background: #ffffff;
  z-index: 10000;
}
.side-nav .logo {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
  background: url(../index_img/logo-2.png) no-repeat;
  background-size: 70%;
  background-position: 50% 50%;
}
.side-nav .de-code {
  margin-top: 50px;
}
.side-nav .de-code img {
  margin-left: 60px;
}
.side-nav .navibar {
  padding: 0;
  margin-top: 50px;
  margin-left: 60px;
}
.side-nav .navibar li {
  height: 30px;
  width: 100px;
  text-align: center;
  line-height: 30px;
}
.side-nav .navibar li.active {
  background: #1d70ed;
  border-radius: 50px;
  color: #ffffff;
}
.side-nav .markble {
  position: absolute;
  right: 20px;
  bottom: 15px;
  font-size: 12px;
}
.side-nav .markble p {
  text-align: right;
}
.cover {
  padding: 5px 30px;
  position: absolute;
  margin-left: 210px;
}
.cover .c-top {
  position: relative;
  margin: 5px 280px 5px 185px;
}
.cover .c-top .search-panel {
  padding: 2px 2px;
  background: #1d70ed;
}
.cover .c-top .search-panel input {
  width: 100%;
  height: 40px;
  padding-left: 3px;
  outline: none;
  line-height: 40px;
  border: 0px solid #ffffff;
}
.cover .c-top .search-handle {
  width: 100px;
  position: absolute;
  right: 0;
  top: 0;
}
.cover .c-top .search-handle .search-btn {
  padding: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  border: none;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  text-indent: 5px;
  background: #1d70ed;
  letter-spacing: 5px;
  font-family: "微软雅黑";
}
.cover .c-top .search-key {
  padding: 5px 25px;
}
.cover .c-top .search-key span {
  margin-left: 5px;
  margin-right: 5px;
  color: #90969f;
  font-size: 14px;
}
.md-nav {
  margin: 10px auto;
  font-size: 16px;
}
.ad {
  width: 965px;
  height: 300px;
  margin: 20px auto;
  margin-left: 30px;
}
.ad .banner {
  position: relative;
  text-align: center;
}
.ad .banner ul {
  padding: 0;
}
.ad .banner ul li {
  float: left;
}
.recommand {
  position: relative;
}
.recommand .title {
  height: 65px;
  width: 190px;
  color: #ffffff;
  position: absolute;
  top: 10px;
  text-align: center;
  background: url(../index_img/icon_rec1.png) no-repeat;
  background-size: 100%;
}
.recommand .title span {
  line-height: 45px;
  text-indent: 5px;
  letter-spacing: 10px;
  font-size: 22px;
}
.recommand .re-box {
  width: 930px;
  padding: 50px 0 30px 20px;
  margin-left: 15px;
  margin-bottom: 30px;
  background: #fff;
  border: 2px solid #e0e0e0;
}
.recommand .re-box .select {
  width: 130px;
  margin-top: 60px;
  float: left;
}
.recommand .re-box .select .active {
  color: #c90d0d;
}
.recommand .re-box .select li {
  margin: 5px 0;
  font-size: 16px;
}
.recommand .re-box .select-items {
  float: left;
  margin-left: 30px;
  text-align: center;
}
.recommand .re-box .select-items .select-item {
  float: left;
  margin: 0 20px;
  cursor: pointer;
}
.gray-border {
  border: 1px solid #e8e8e8;
}
.gray-border-bottom {
  border-bottom: 1px solid #e8e8e8;
}
.re-box .lasttime {
  padding: 5px 0;
  font-size: 12px;
  color: #626262;
  border: 1px solid #e8e8e8;
}
.re-box .cost-box {
  border: 1px solid #e8e8e8;
  margin-top: -5px;
  border-top: none;
}
.re-box .cost,
.re-box .timeline {
  border-bottom: 1px solid #e8e8e8;
}
.re-box .cost,
.re-box .timeline,
.re-box .ston {
  padding: 5px 0;
}
.re-box .cost,
.re-box .timeline {
  font-size: 16px;
}
.re-box .cost em,
.re-box .timeline em {
  color: #ca0d0e;
  font-style: inherit;
}
.re-box .ston {
  font-size: 24px;
  letter-spacing: 3px;
}
.suit .select {
  margin-top: 30px !important;
}
.suit .select-item img {
  width: 140px;
  height: 140px;
}
.timer .title {
  background: url(../index_img/icon_rec2.png) no-repeat;
  background-size: 100%;
}
.timer .select-item {
  margin: 0 10px !important;
}
.timer .select-item img {
  width: 160px;
  height: 160px;
}
.select-more {
  height: 30px;
  background: #009deb;
}
.select-more li {
  text-align: center;
  line-height: 30px;
  color: #ffffff;
  float: left;
}
.select-more li input {
  height: 20px;
  border: none;
}
.select-more li .i-short {
  width: 50px;
}
.select-more li .i-short:first-child {
  margin-left: 15px;
}
.select-more li .i-long {
  width: 150px;
  margin-left: 15px;
}
.select-more .item1 {
  width: 18%;
}
.select-more .item2 {
  width: 18%;
}
.select-more .item3 {
  width: 24%;
}
.select-more .item3 em {
  margin: 0 6px;
  color: #000;
  font-weight: 600;
}
.select-more .item4 {
  width: 38%;
}
.customs {
  position: relative;
}
.customs .title {
  position: absolute;
  top: 10px;
  background: url(../index_img/icon_rec3.png) no-repeat;
  background-size: 90%;
}
.customs .back {
  width: 950px;
  margin-left: 13px;
  margin-bottom: 30px;
  background: #fff;
}
.customs .back .desp {
  width: 80px;
  line-height: 30px;
  float: left;
  font-weight: 600;
}
.customs .back-items {
  padding: 60px 70px 10px 60px;
  font-size: 16px;
  background-color: white;
  border: 2px solid #e0e0e0;
}
.customs .back-item ul {
  padding: 0;
}
.customs .back-item ul li {
  margin: 0 5px;
  float: left;
  line-height: 30px;
}
.customs .back-item .s-more {
  width: 50px;
  height: 16px;
  padding: 2px 1px;
  cursor: pointer;
  float: right;
  color: #c8c8c8;
  font-size: 12px;
  text-align: center;
  vertical-align: super;
  display: inline-block;
  border: 1px solid #c8c8c8;
}
.customs .back-item .s-more span {
  color: #3c3c3c;
}
.activity{
	width: 36%;
}
.price{
	width: 20%;
}
.num{
	width: 15%;
}
.map{
	width: 10%;
}
.buy {
  padding: 30px 30px 20px 40px;
  background-color: #fff;
  border: 2px solid #e0e0e0;
}
.buy .inline-b {
  display: inline-block;
}
.buy .f-left {
  float: left;
}
.buy .f-left_price {
  float: left;
  width: 100px;
  height: 20px;
  margin-left: 45px;
  text-align: center;
  margin-top: 10px;
}
.f-sum{
  float: left;
  width: 130px;
  height: 40px;
  margin-top: 10px;
  font-size: 25px;
}
.buy .cont {
  height: 75px;
  width: 880px;
  margin: 15px 0 2px;
  display: inline-block;
  background: url(../index_img/linebar_blue_items.png) no-repeat;
  background-size: 100%;
  border-radius: 5px;
}
.buy .cont .activity {
  padding-left: 20px;
  line-height: 80px;
  font-size: 17px;
  float: left;
}
.buy .cont .activity span {
  font-size: 22px;
}
.buy .cont .price {
  float: left;
  color: #ffffff;
  margin-top: 5px;
}
.buy .cont .price p {
  text-align: right;
}
.buy .cont .p-one {
  font-size: 20px;
}
.buy .cont .p-one em {
  font-size: 30px;
  font-style: inherit;
}
.buy .cont .num {
  margin-top: 25px;
  margin-left: 8%;
  line-height: 100px;
}
.buy .cont .num .icon {
  width: 20px;
  height: 20px;
  margin: 7px 5px 0 5px;
  cursor: pointer;
  display: inline-block;
}
.buy .cont .num .dec {
  background: url(../index_img/icon_dec.png) no-repeat;
}
.buy .cont .num .plus {
  background: url(../index_img/icon_plus.png) no-repeat;
}
.buy .cont .num input {
  width: 50px;
  height: 30px;
  border: none;
  text-align: center;
}
.buy .cont .map {
  padding-top: 8px;
  margin-left: 5%;
  line-height: 100px;
}
.buy .cont .map-box {
  height: 60px;
  width: 100px;
  background: #000;
  opacity: .6;
  border-radius: 5px;
}
.buy .paginate {
  margin: 10px 50px 10px 0;
  text-align: right;
}
.buy .paginate span {
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  background: #dcdcdc;
}
.buy .contall {
  background: url(../index_img/linebar_blue_count.png) no-repeat;
  background-size: 100%;
}
/* .buy .contall .price {
  margin-left: 15%;
} */
.buy .contall .text {
  margin-left: 5%;
  padding-top: 20px;
  float: left;
  color: #000;
  font-size: 28px;
}
.buy .contall .p-one {
  line-height: 70px;
}
.buy .cart-box {
  text-align: right;
}
.buy .cart-box .cart {
  height: 50px;
  padding: 0 20px 0 60px;
  display: inline-block;
  vertical-align: middle;
  text-align: -webkit-auto;
  background-color: #009eea;
  background-image: url(../index_img/icon_cart.png);
  background-repeat: no-repeat;
  background-position: 20px 50%;
  background-size: 17%;
  line-height: 50px;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}
#b04 {
  width: 100%;
}
#b04 .dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
}
#b04 .dots li {
  display: inline-block;
  width: 3px;
  height: 3px;
  margin: 0 4px;
  text-indent: -999em;
  border: 1px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  opacity: .4;
  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s;
}
#b04 .dots li.active {
  background: #7791b3;
  opacity: 1;
}
#b04 .arrow {
  position: absolute;
  top: 130px;
}
#b04 #al {
  left: 15px;
}
#b04 #ar {
  right: 15px;
}

.cart-container {
  width: 1000px;
  margin-left: 30px;
}
.cart-container .c-inner {
  width: 975px;
  margin: 0 auto;
}
.cart-container .c-inner .tabline {
  margin: 10px 0;
}
.cart-container .border-gray {
  border-bottom: 1px solid #e3e3e3;
}
.cart-container .panel {
  background: #fff;
  font-size: 18px;
}
.cart-container .panel .panel-head,
.cart-container .panel .panel-item {
  border-bottom: 1px solid #e3e3e3;
}
.cart-container .panel .panel-head {
  height: 40px;
}
.cart-container .panel .panel-item {
  height: 125px;
  line-height: 125px;
}
.tabline {
  position: relative;
}
.tabline .ara {
  font-size: 24px;
  font-weight: 600;
}
.tabline .arrow {
  height: 40px;
  font-size: 18px;
  position: relative;
  display: inline-block;
}
.tabline .arrow-stp1 {
  top: 0;
  width: 360px;
  color: #fff;
  background: url(../index_img/secondCartIcons.png) -42px -8px;
  background-size: 115%;
  z-index: 3;
}
.tabline .arrow-stp1 .ara {
  margin: 0 80px 0 20px;
}
.tabline .arrow-stp2 {
  top: 0;
  left: -10px;
  width: 340px;
  color: #9c9c9c;
  margin-left: -30px;
  background: url(../index_img/secondCartIcons.png) -45px -49px;
  background-size: 115%;
  z-index: 2;
}
.tabline .arrow-stp2 .ara {
  margin: 0 60px 0 45px;
}
.tabline .arrow-stp3 {
  top: 0;
  right: 0;
  color: #9c9c9c;
  position: absolute;
  width: 340px;
  background: url(../index_img/secondCartIcons.png) -50px -49px;
  background-size: 115%;
  z-index: 1;
}
.tabline .arrow-stp3 .ara {
  margin: 0 60px 0 50px;
}
.cart-step1 .panel:last-child {
  margin-bottom: 90px;
}
.panel {
  margin-top: 30px;
}
.panel .panel-head ul .td {
  line-height: 30px;
  margin-top: 5px;
}
.panel .td {
  float: left;
  text-align: center;
}
.panel .item-rect {
  height: 114px;
  padding: 10px 0;
  position: relative;
  box-sizing: border-box;
  border: 1px dotted #c9c9c9;
}
.panel .item-rect-hover {
  border: 2px dotted #1d70ed;
}
.panel .item-rect-hover .btn-edit {
  display: inline-block;
}
.panel .rec-line {
  margin: 0 5px 0 15px;
  color: #646464;
  overflow: hidden;
  text-overflow: ellipsis;
}
.panel .btn-edit {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
  cursor: pointer;
  background: url(../index_img/secondCartIcons.png);
  background-position: 3px -145px;
}
.panel .price,
.panel .sum {
  color: #ff5151;
  font-size: 18px;
}
.panel .td-inner {
  text-align: center;
}
.panel .td-check {
  width: 45px;
}
.panel .td-name {
  width: 445px;
  font-size: 18px;
  text-align: left;
}
.panel .td-item {
  width: 175px;
  font-size: 18px;
  text-align: left;
}
.panel .td-info {
  width: 280px;
  font-size: 16px;
  text-align: left;
  line-height: normal;
  padding: 5px 40px 5px 0;
  box-sizing: border-box;
}
.panel .td-price {
  width: 130px;
}
.panel .td-amount {
  width: 130px;
}
.panel .td-sum {
  width: 120px;
}
.panel .td-handle {
  width: 90px;
}
.td-item p {
  margin-left: 10px;
  text-align: left;
}
.td-amount input {
  width: 50px;
  height: 35px;
  outline: none;
  text-align: center;
  border: 2px solid #1d70ed;
}
.td-amount .icon {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.td-amount .icon-plus {
  width: 20px;
  height: 20px;
  background: url(../index_img/secondCartIcons.png);
  background-position: 0 -283px;
  background-size: 1180%;
}
.td-amount .icon-sub {
  width: 20px;
  height: 20px;
  background: url(../index_img/secondCartIcons.png);
  background-position: 0px -305px;
  background-size: 1180%;
}
.td-check {
  position: relative;
  overflow: hidden;
}
.cart-check {
  display: inline-block;
}
.cart-check .hideinput {
  position: absolute;
  top: -20px;
  left: -20px;
}
.cart-check label {
  position: relative;
  float: left;
  width: 30px;
  height: 30px;
  line-height: 200em;
  overflow: hidden;
  cursor: pointer;
}
.cart-check.active label {
  background: url(../index_img/secondCartIcons.png);
  background-position: 0px -32px;
  background-size: 1270%;
}
.cart-check label {
  background: url(../index_img/secondCartIcons.png);
  background-position: 0px -4px;
  background-size: 1270%;
}
.td-handle p {
  margin: 20px auto;
  cursor: pointer;
}
.td-handle .like {
  width: 35px;
  height: 35px;
  background: url(../index_img/secondCartIcons.png);
  background-position: 0 -67px;
  background-size: 1150%;
}
.td-handle .del-like {
  width: 35px;
  height: 35px;
  background: url(../index_img/secondCartIcons.png);
  background-position: 0 -102px;
  background-size: 1150%;
  margin-top: 50%;
}
.panel-head .td-name,
.panel-head .td-price,
.panel-head .td-amount,
.panel-head .td-sum {
  border-right: 1px solid #e3e3e3;
}
.panel-head .cart-check label {
  margin: 0 10px;
}
.panel-item .td-check {
  margin-top: 8px;
}
.cart-check label {
  margin: auto 10px;
}
.acount-fix {
  width: 1000px;
  height: 110px;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
}
.acount-fix .acount-top {
  height: 15px;
}
.acount-fix .top-left {
  width: 12px;
  height: 15px;
  float: left;
  background: url(../index_img/triangle.png);
  background-size: 200%;
  background-position: 0 4px;
  background-repeat: no-repeat;
}
.acount-fix .top-right {
  width: 12px;
  height: 15px;
  float: right;
  background: url(../index_img/triangle.png);
  background-size: 200%;
  background-position: -12px 4px;
  background-repeat: no-repeat;
}
.acount-fix .acount-bottom {
  height: 95px;
  background: rgba(246, 246, 212, 0.78);
}
.acount-fix .acount-inner {
  width: 1000px;
  position: relative;
  overflow: hidden;
  padding-left: 30px;
  padding-right: 70px;
  line-height: 90px;
  font-size: 24px;
  box-sizing: border-box;
}
.acount-fix .inner-left {
  float: left;
}
.acount-fix .inner-left .cart-check {
  display: inline-block;
  vertical-align: middle;
}
.acount-fix .inner-right {
  float: right;
}
.acount-fix .inner-right .btn-over {
  width: 180px;
  height: 55px;
  margin-left: 20px;
  color: #fff;
  font-size: 30px;
  line-height: 55px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  background-color: #1d70ed;
  cursor: pointer;
}
.acount-fix .acount-price {
  color: #ff0606;
}
.acount-fix .cart-check label {
  margin: 0;
  margin-top: -5px;
}
.cart-step2 .panel {
  width: 865px;
  margin: 20px auto;
}
.cart-step2 .panel .panel-item {
  height: 100px;
  line-height: 100px;
}
.cart-step2 .panel-head .td,
.cart-step2 .panel-item .td {
  box-sizing: border-box;
}
.cart-step2 .panel-head .td-name,
.cart-step2 .panel-item .td-name {
  width: 474px;
  padding-left: 20px;
}
.cart-step2 .panel-head .td-price,
.cart-step2 .panel-item .td-price {
  width: 129px;
}
.cart-step2 .panel-head .td-amount,
.cart-step2 .panel-item .td-amount {
  width: 129px;
}
.cart-step2 .panel-head .td-sum,
.cart-step2 .panel-item .td-sum {
  width: 130px;
}
.cart-step2 .panel-head .td-item,
.cart-step2 .panel-item .td-item {
  width: 200px;
}
.cart-step2 .panel-head .td-info,
.cart-step2 .panel-item .td-info {
  width: 275px;
}
.cart-step2 .panel-item .td-amount {
  color: #656565;
}
.cart-step2 .td-name {
  font-size: 20px;
}
.cart-step2 .td-sum {
  border: none;
}
.cart-step2 .td-item {
  padding-left: 30px;
  font-size: 20px;
}
.cart-step2 .td-info {
  height: 100px;
  padding: 30px 20px;
  color: #4c4c4c;
}
.cart-step2 .td-info .date {
  width: 100%;
  display: inline-block;
}
.cart-step2 .td-info .perio {
  width: 100%;
  display: inline-block;
}
.cart-step2 .td-info .td-inner {
  text-align: left;
}
.cart-step2 .arrow-stp1 {
  color: #9c9c9c;
  background: url(../index_img/secondCartIcons.png) -41px -51px;
  background-size: 113%;
  z-index: 3;
}
.cart-step2 .arrow-stp1 .ara {
  margin: 0 80px 0 20px;
}
.cart-step2 .arrow-stp2 {
  color: #fff;
  background: url(../index_img/secondCartIcons.png) -41px -6px;
  background-size: 115%;
  z-index: 2;
}
.cart-step2 .arrow-stp2 .ara {
  margin: 0 60px 0 45px;
}
.cart-step2 .arrow-stp3 {
  color: #9c9c9c;
  background: url(../index_img/secondCartIcons.png) -50px -49px;
  background-size: 115%;
  z-index: 1;
}
.cart-step2 .arrow-stp3 .ara {
  margin: 0 60px 0 50px;
}
.adj {
  margin-top: 40px;
  padding-left: 10px;
}
.adj .line {
  margin-bottom: 50px;
}
.adj .line .selects {
  display: inline-block;
}
.adj .line .upload {
  color: #4da4ca;
}
.adj .file .legged {
  line-height: 40px;
}
.adj .selects {
  width: 290px;
  height: 45px;
  margin-right: 40px;
  position: relative;
  vertical-align: sub;
  border: 1px solid #1573f4;
  background-color: #fff;
}
.adj .s-blue {
  width: 45px;
  height: 45px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #1573f4;
  background-image: url(../index_img/icon_arrow.png);
  background-size: 100%;
  background-position: 7px 10px;
}
.adj .legged {
  line-height: 35px;
  font-size: 18px;
  display: inline-block;
  vertical-align: bottom;
}
.adj .way {
  padding-left: 55px;
}
.adj .way .select-items {
  margin-left: 10px;
  font-size: 16px;
  display: inline-block;
}
.adj .way ul li {
  float: left;
}
.adj .iradios {
  position: relative;
  overflow: hidden;
}
.adj .iradios li {
  margin: 0 15px;
}
.adj input[type="radio"] {
  left: -20px;
  top: -20px;
}
.adj .iradio {
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: text-bottom;
  background: url(../index_img/secondCartIcons.png) 0 -461px;
  background-size: 1140%;
}
.adj .active .iradio {
  background: url(../index_img/secondCartIcons.png) 0 -444px;
  background-size: 1140%;
}
.adj .sum,
.adj .sure {
  text-align: right;
  margin-bottom: 30px;
}
.adj .sum .legged {
  font-size: 20px;
}
.adj .sum em {
  color: #fe1611;
  font-size: 30px;
}
.adj .btn-sure {
  width: 180px;
  height: 55px;
  font-size: 30px;
  line-height: 55px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  background-color: #1d70ed;
  color: #fff;
  cursor: pointer;
}
.third-step {
  width: 1030px;
  font-size: 16px;
}
.detail-bd .d-left {
  padding: 40px 0 0 50px;
  float: left;
}
.detail-bd .d-right {
  width: 495px;
  padding-top: 20px;
  margin-left: 100px;
  float: left;
}
.detail-bd .socials {
  width: 100%;
  margin-top: 30px;
}
.detail-bd .socials .social {
  float: left;
}
.detail-bd .socials .focus {
  float: right;
}
.detail-bd .socials .btn-focus {
  width: 65px;
  height: 25px;
  color: #fff;
  line-height: 25px;
  background-color: #d10501;
}
.detail-bd .socials li {
  float: left;
}
.detail-bd .socials .icon {
  width: 20px;
  height: 18px;
  display: inline-block;
  background: url(../index_img/icon_social.png);
}
.detail-bd .socials .qq {
  background-position: 1px 1px;
}
.detail-bd .socials .wechat {
  background-position: 1px -18px;
}
.detail-bd .socials .weibo {
  background-position: 1px -36px;
}
.detail-bd .socials .email {
  background-position: 1px -54px;
}
.d-right dl dt {
  float: left;
  margin-right: 5px;
  width: 55px;
}
.d-right .d-item {
  margin-bottom: 20px;
}
.d-right .price {
  margin: 30px 0;
}
.d-right .perio {
  line-height: 35px;
}
.d-right .perio li {
  float: left;
  margin: 0 15px 10px 0;
  text-align: center;
}
.d-right .perio li a {
  width: 80px;
  height: 35px;
  font-size: 18px;
  font-family: 黑体;
  line-height: 35px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #dfe3e9;
  background: #FFF;
}
.d-right .perio li.active a {
  border: 1px solid #c80000;
}
.d-right .number {
  line-height: 40px;
}
.d-right .number .stock {
  width: 85px;
  position: relative;
  display: inline-block;
}
.d-right .number .stock input {
  width: 50px;
  height: 40px;
  text-align: center;
  border: 1px solid #dfe3e9;
}
.d-right .number .stock a {
  position: absolute;
  display: inline-block;
  line-height: 20px;
  text-align: center;
  border: 1px solid #dfe3e9;
  background-color: #fff;
}
.d-right .number .stock .stock-plus {
  top: 0;
  right: 0;
  width: 30px;
  height: 20px;
}
.d-right .number .stock .stock-dl {
  bottom: 0;
  right: 0;
  width: 30px;
  height: 20px;
}
.d-right .random input {
  width: 180px;
  height: 35px;
  margin-left: 7px;
  border: 1px solid #dfe3e9;
}
.d-right .btn-group {
  margin: 35px 0 0 53px;
}
.d-right .btn {
  line-height: 45px;
}
.d-right .btn-now {
  width: 120px;
  height: 45px;
  color: #db3b30;
  font-size: 20px;
  border: 1px solid #db3b30;
  background-color: #febbbd;
}
.d-right .btn-cart {
  width: 160px;
  height: 45px;
  margin-left: 40px;
  color: #fff;
  font-size: 20px;
  border: 1px solid #c90000;
  background-color: #c90000;
}
.l-lau {
  margin-bottom: 15px;
  text-align: right;
}
.l-lau .btn-contact {
  width: 85px;
  height: 30px;
  line-height: 30px;
  color: #1c71ed;
  font-size: 20px;
  background-color: #c5c4bb;
}
.layout {
  width: 1030px;
  background-color: #fff;
}
.layout .layout-top {
  height: 30px;
  background-color: #1c71ed;
}
.case .c-more {
  margin-right: 20px;
}
.case .c-page {
  width: 60px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 6px;
  display: inline-block;
  border: 1px solid #d5dce7;
}
.case-info {
  width: 1000px;
  margin-top: 55px;
  padding-left: 20px;
}
.case-info .c-desp {
  line-height: 30px;
}
.case-info .aline {
  width: 6px;
  height: 30px;
  display: inline-block;
  border-radius: 10px;
  background-color: #0789d0;
}
.case-info .ver-ali {
  vertical-align: top;
}

